#忽略后缀文件为*.png的文件
*.png
#忽略/下的phpmyadmin文件目录
phpmyadmin/
#忽略后缀文件为*.jpg的文件目录
*.jpg
#忽略后缀文件为*.gif的文件目录
*.gif
#忽略后缀文件为*.zip的文件目录
*.zip
#忽略后缀文件为*.rar的文件目录
*.rar
#忽略后缀文件为*.tar.gz的文件目录
*.tar.gz
#忽略后缀文件为*.jpeg的文件目录
*.jpeg
